```{=html}

<div class="grid text-center" style="--bs-gap: 1rem;">
    <% for (const item of items) { %>
      <div class="g-col-6 g-col-sm-12">
        <a href="<%= item.website %>">
          <img class="img-fluid" src="<%= item.img %>" alt="<%= item.title %>"/>
        </a>
      </div>
    <% } %>
</div>

```