```{=html}

<div class="grid text-center" style="align-items: center;">
    <% for (const item of items) { %>
      <div class="g-col-12 g-col-md-6">
        <a href="<%= item.website %>">
          <img class="img-fluid" style="max-width: 300px;" src="<%= item.img %>" alt="<%= item.title %>"/>
        </a>
      </div>
    <% } %>
</div>

```