```{=html}

<div class="grid text-center">
    <% for (const item of items) { %>
      <div class="g-col-4">
        <a href="<%= item.website %>">
          <img src="<%= item.img %>" alt="<%= item.title %>" width="200px"/>
        </a>
      </div>
    <% } %>
</div>

```
