```{=html}
<link rel="stylesheet" href="styles2.css">
<% for (const item of items) { %>

<div class="list grid" style="column-gap: 10px;">

<% for (const tile of item.tiles) { %>
  <div class="card g-col-sm-6 " >
    
    <a href="<%- tile.href %>">
      <img src="<%- tile.thumbnail %>" alt="<%- tile.title %>" class="card-img-top img-fluid"/>
    </a>
    
        
  </div>
<% } %>

</div>

<% } %>

```
